.event1-container, .event2-container, .event3-container, .event4-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

.event-nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
  margin-top: -10px;
}

.nav-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
}

.event-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: black;
  min-width: 70px;
  height: 20px;
}

.event-nav-button.selected {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-info {
  font-size: 18px;
  color: black;
  text-align: left;
}
