.user-info-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
  }

  .subtitle_2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .user-details {
    font-size: 18px;
    color: black;
  }
  
  .previous-games {
    font-size: 18px;
    color: black;
  }
  
  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
  