 .main-container {
  text-align: center;
  background-color: black;
  padding-bottom: 50px;
  padding-top: 0;
  margin-top: 0; 
}

.logo {
  width: 150px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.appname {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.main-button {
  background-color: #2850a7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.main-button:hover {
  background-color: #1a397e;
}

.bottom-space {
  height: 100px;
  background-color: black;
}

.about-section {
  background-color: white;
  color: black;
  padding: 20px;
  border: none; /* 보더 제거 */
}

.about-section h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: none; /* 보더 제거 */
}

.about-section p {
  margin: 0;
}
