.login-page {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: flex-start; /* 위쪽 정렬 */
  height: 100vh;
  background-color: #333; /* 어두운 회색 배경 */
  padding: 2rem; /* 여백 추가 */
}

.login-form {
  background: transparent; /* 투명 배경 */
  width: 100%; /* 전체 너비 */
  padding: 2rem;
  color: #fff; /* 밝은 글씨 */
  animation: fadeIn 1s forwards;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  input {
    width: 100%; /* 전체 너비 */
    padding: 1rem; /* 더 큰 패딩 */
    margin-bottom: 1rem;
    background-color: #000; /* 검은색 배경 */
    color: #fff; /* 밝은 글씨 */
    border: 1px solid #444; /* 어두운 테두리 */
    border-radius: 5px;
    font-size: 1.2rem; /* 더 큰 폰트 크기 */
  }
}

@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration div($duration, 3);
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  letter-spacing: 0.05rem;
  box-sizing: border-box;
  width: var(--element-width);
  height: 60px;

  &:focus {
    outline: 2px dotted #55d7dc;
  }
}

.id-field {
  width: 400px;
}

.password-field {
  width: 400px;

  input {
    margin-bottom: 10px;
  }
}

.field {
  width: 400px;

  input {
    margin-bottom: 10px;
  }
}

:root {
  --element-width: 400px; /* 기본값 설정 */
}

.login-addons {
  width: var(--element-width);
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.remember-me {
  display: flex;
  align-items: top;
  margin-top: 0; /* 위와의 간격 조정 */

  input[type="checkbox"] {
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 1px;
    width: auto; /* 자동 너비 */
    flex-shrink: 0; /* 필요 이상의 공간 차지하지 않음 */
    background-color: #000;
  }

  label {
    margin-bottom: 0; /* 제거하여 체크박스와 라벨 간격 없애기 */
  }
}

.sign-in-prompt {
  display: flex;
}

.alter-page {
  color: #f7d976;
}