@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$red: #E1332D;
$white: #fff;

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
  }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 20px;
  padding: 20px 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.logoImg {
  width: 30px;
  height: 30px;
}

.app-title {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  width: 230px;
  color: #fff;
}

.user-info {
  position: relative;
  display: flex;
  align-items: center;
}

.user-name {
  color: white;
  margin-right: 10px;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 15px; /* 타원형 효과 */
}

//default button
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin: 0; // 마진을 0으로 설정하여 여백 제거
  height: 45px; // 버튼 높이를 명시적으로 설정

  @media (min-width: 600px) {
    margin: 0; // 미디어 쿼리에서도 마진을 0으로 설정
  }

  &:hover {
    text-decoration: none;
  }
}

.dropdown {
    width: 100px;
    margin-left: 10px;
}

.dropdown-btn {
  background: darken(#000, 1.5%);
  font-weight: 100;
  height: 45px; // 버튼 높이를 명시적으로 설정

  svg {
    height: 100%; // SVG 높이를 버튼 높이에 맞춤
    width: 100%; 
    left: 0;
    position: absolute;
    top: 0;
  }

  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.dropdown-btn:hover {
  background: rgba(#000, 0);
  font-weight: 900;
  letter-spacing: 1px;

  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
