.toggle-button-group {
    display: flex;
  }
  
  .toggle-button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  .count {
    font-weight: bold;
    margin-left: 5px;
  }
  